<div class="brands">
  <div class="container-first">
    <div class="brands__wrap">
      <div class="brands__main">
        <a href="#" class="brands__item">
          <img src="./img/brands/1.png" alt="abat" />
        </a>

        <a href="#" class="brands__item">
          <img src="./img/brands/2.png" alt="atesy" />
        </a>

        <a href="#" class="brands__item">
          <img src="./img/brands/3.png" alt="cold" />
        </a>

        <a href="#" class="brands__item">
          <img src="./img/brands/4.png" alt="rational" />
        </a>

        <a href="#" class="brands__item">
          <img src="./img/brands/5.png" alt="simeco" />
        </a>

        <a href="#" class="brands__item brands__item__link"> Все бренды </a>
      </div>
    </div>
  </div>
</div>
