<footer class="footer">
  <div class="container-second">
    <div class="footer__wrap">
      <div class="footer__item footer__item__info">
        <div class="footer__item__mobile">
          <div class="product-bar__mobile__title">Информация</div>
          <span>+</span>
        </div>

        <div class="footer__item__inner">
          <div class="footer__title">Информация</div>
          <div class="footer__links">
            <a href="#">Компания </a>
            <a href="#">Портфолио</a>
            <a href="#">Проектирование</a>
            <a href="#">Ресторанам</a>
            <a href="#">Застройщикам</a>
            <a href="#">Гос.заказчикам</a>
            <a href="#">Таблет-питание</a>
            <a href="#">Сервис</a>
            <a href="#">Новости</a>
            <a href="#">Контакты</a>
          </div>
        </div>
      </div>

      <div class="footer__item equipment">
        <div class="footer__item__mobile">
          <div class="product-bar__mobile__title">Оборудование</div>
          <span>+</span>
        </div>

        <div class="footer__item__inner">
          <div class="footer__title">Оборудование</div>
          <div class="footer__links">
            <a href="#">Тепловое </a>
            <a href="#">Холодильное</a>
            <a href="#">Электромеханическое</a>
            <a href="#">Посудомоечное</a>
            <a href="#">Барное</a>
            <a href="#">Хлебопекарное</a>
            <a href="#">Линии раздачи</a>
            <a href="#">Нейтральное</a>
            <a href="#">Для фаст фуда</a>
            <a href="#">Для залов</a>
            <a href="#">Весовое</a>
          </div>
        </div>
      </div>

      <div class="footer__item offer">
        <div class="footer__item__mobile">
          <div class="product-bar__mobile__title">Предложения</div>
          <span>+</span>
        </div>

        <div class="footer__item__inner">
          <div class="footer__title">Предложения</div>
          <div class="footer__links">
            <a href="#">Кафе, барам, ресторанам </a>
            <a href="#">Дестким садам и школам</a>
            <a href="#">Таблет-питание</a>
            <a href="#">Для кондитерских</a>
            <a href="#">Для пиццерий</a>
            <a href="#">Для магазинов</a>
            <a href="#">Для воинских частей</a>
            <a href="#">Все предложения</a>
          </div>
        </div>
        
      </div>

      <div class="footer__item contacts">
        <div class="footer__item__mobile">
          <div class="footer__item__mobile__title">Контакты</div>
          <span>+</span>
        </div>

        <div class="footer__item__inner">
          <div class="footer__title">Контакты</div>
          <div class="footer__links">
            <div class="contacts__tel">
              <a href="tel:84951503171">8 495 150-31-71</a>
              <a href="tel:88005004344">8 800 500 43 44</a>
              <span>звонок беспланый</span>
            </div>

            <div class="contacts__mode">
              <span>Пн-Пт</span>
              <div class="contacts__mode__text">09:00 до 18:00</div>
            </div>

            <div class="contacts__email">
              <a href="mailto:com@stolovay.ru">com@stolovay.ru</a>
              <a href="mailto:info@stolovay.ru">info@stolovay.ru</a>
            </div>

            <div class="contacts__location">
              111524, Москва,
              <span>Рязанский проспект 24к2</span>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</footer>
