<section class="info">
  <div class="container-second">
    <div class="info__wrap">
      <div class="info-content">
        <div class="info-content__item">
          <h1 class="about__title">
            Комплексные решения оснащения столовых и кафе
          </h1>
          <div class="about__text">
            <p>
              Компания предлагает комплексное оснащение столовых, ресторанов,
              кафе и баров в Москве. Наши услуги построены по принципу полного
              цикла обслуживания предприятий общепита и бизнеса HoReCa. Иными
              словами, мы предлагаем проектирование «под ключ» и постгарантийное
              обслуживание. География работы компании охватывает всю страну. При
              этом в каждом регионе мы готовы предложить демократичные цены на
              профессиональное технологическое оборудование для столовой и
              оптимальные решения с точки зрения эффективности бизнеса,
              приемлемым уровнем производительности в условиях ограниченного
              бюджета.
            </p>
          </div>
        </div>

        <div class="info-content__item offer">
          <h2 class="info-content__title">Что мы предлагаем</h2>
          <div class="info-content__text">
            <ul>
              <li>
                разработку технологического проекта кухни и производственной
                линии, дизайна ресторанного интерьера;
              </li>
              <li>
                составление меню согласно концепции и оснащения бара (кафе,
                столовой);
              </li>
              <li>
                подбор посуды, текстиля под общий стиль; профессиональное
                оборудование для кафе, бара и ресторана, большой выбор
                современных моделей; доставку в любой регион РФ;
              </li>
              <li>
                монтажные и пуско-наладочные работы; автоматизацию
                производственного процесса, что позволяет определённое
                оборудование для бара;
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="company-info">
        <div class="company-info__wrap">
          <img class="company-info__logo" src="./img/big-logo.svg" alt="#" />
          <h1 class="company-info__title">Столовая.РУ</h1>
          <div class="company-info__subtitle">
            создание оптимальных пищеблоков
          </div>

          <h2>Группа компаний</h2>
          <div class="company-info__results-title">Показатели:</div>
          <ul class="company-info__results">
            <li>На рынке: 5 лет</li>
            <li>Объем контрактов: 4 млрд.р.</li>
            <li>Количество контрактов: 620</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="show-plus"><span>+</span></div>
  </div>
</section>
