<section class="intro">
  <div class="container-first">
    <div class="intro__wrap">
      <div class="categories">
        <div class="categories__inner">
          <div class="categories__title">Целевые предложения</div>
          <div class="categories__items">
            <div class="categories__item__wrap">
              <div class="categories__item">
                <a href="#" class="categories__link">
                  <div class="categories__link__text">
                    Кафе, барам, ресторанам
                  </div>
                  <span>></span></a
                >
              </div>
            </div>

            <div class="categories__item__wrap">
              <div class="categories__item">
                <a href="#" class="categories__link">
                  <div class="categories__link__text">
                    Дестким садам и школам
                  </div>
                  <span>></span></a
                >
              </div>
            </div>

            <div class="categories__item__wrap">
              <div class="categories__item">
                <a href="#" class="categories__link">
                  <div class="categories__link__text">Таблет-питание</div>
                  <span>></span></a
                >
              </div>
            </div>

            <div class="categories__item__wrap">
              <div class="categories__item">
                <a href="#" class="categories__link">
                  <div class="categories__link__text">Для столовых</div>
                  <span>></span></a
                >
              </div>
            </div>

            <div class="categories__item__wrap">
              <div class="categories__item">
                <a href="#" class="categories__link">
                  <div class="categories__link__text">Для пищеблоков</div>
                  <span>></span></a
                >
              </div>
            </div>

            <div class="categories__item__wrap">
              <div class="categories__item">
                <a href="#" class="categories__link">
                  <div class="categories__link__text">
                    Государственным заказкам
                  </div>
                  <span>></span></a
                >
              </div>
            </div>

            <div class="categories__item__wrap">
              <div class="categories__item">
                <a href="#" class="categories__link">
                  <div class="categories__link__text">Для магазинов</div>
                  <span>></span></a
                >
              </div>
            </div>

            <div class="categories__item__wrap">
              <div class="categories__item">
                <a href="#" class="categories__link">
                  <div class="categories__link__text">Для войсковых частей</div>
                  <span>></span></a
                >
              </div>
            </div>

            <div class="categories__item__wrap">
              <div class="categories__item">
                <a href="#" class="categories__link">
                  <div class="categories__link__text">Все предложения</div>
                  <span>></span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider__wrap">
                <div class="slider__main">
                  <div class="slider__suptitle">Портфолио</div>
                  <div class="slider__title">
                    НИИ скорой помощи им. Н.В. Склифосовского
                  </div>
                  <div class="slider__text">Оборудование для пищеблоков</div>
                  <a class="slider__btn" href="#">Подробнее</a>
                  <img
                    class="slider__img"
                    src="./img/slider/slider-img.png"
                    alt="#"
                  />
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider__wrap">
                <div class="slider__main">
                  <div class="slider__suptitle">Портфолио</div>
                  <div class="slider__title">
                    НИИ скорой помощи им. Н.В. Склифосовского
                  </div>
                  <div class="slider__text">Оборудование для пищеблоков</div>
                  <a class="slider__btn" href="#">Подробнее</a>
                  <img
                    class="slider__img"
                    src="./img/slider/slider-img.png"
                    alt="#"
                  />
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider__wrap">
                <div class="slider__main">
                  <div class="slider__suptitle">Портфолио</div>
                  <div class="slider__title">
                    НИИ скорой помощи им. Н.В. Склифосовского
                  </div>
                  <div class="slider__text">Оборудование для пищеблоков</div>
                  <a class="slider__btn" href="#">Подробнее</a>
                  <img
                    class="slider__img"
                    src="./img/slider/slider-img.png"
                    alt="#"
                  />
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider__wrap">
                <div class="slider__main">
                  <div class="slider__suptitle">Портфолио</div>
                  <div class="slider__title">
                    НИИ скорой помощи им. Н.В. Склифосовского
                  </div>
                  <div class="slider__text">Оборудование для пищеблоков</div>
                  <a class="slider__btn" href="#">Подробнее</a>
                  <img
                    class="slider__img"
                    src="./img/slider/slider-img.png"
                    alt="#"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="giftbox">
        <div class="gitbox__wrap">
          <div class="giftbox__main">
            <img class="giftbox__img" src="./img/giftbox.svg" alt="gift"  />
            <h3 class="giftbox__subtitle">Самые низкие цены</h3>
            <h2 class="giftbox__title">Распродажа</h2>
            <a class="giftbox__link" href="#" >Каталог рапродаж ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
