<div class="navbar">
  <div class="container-first">
    <div class="navbar__wrap">
      <div id="burger" class="burger">
        <div class="burger__item"></div>
        <div class="burger__item"></div>
        <div class="burger__item"></div>
      </div>

      <a class="mobile-header__logo">
        <div class="mobile-header__img">
          <img src="../img/big-logo.svg" alt="#" />
        </div>
        <div class="mobile-header__logo__content">
          <div class="mobile-header__logo__title">Столовая.РУ</div>
          <div class="mobile-header__logo__subtitle">Создание пищеблоков</div>
        </div>
      </a>
      <nav id="nav" class="nav">
        <div class="nav__link"><a href="#">Компания</a></div>
        <div class="nav__link"><a href="#">Портфолио</a></div>
        <div class="nav__link"><a href="#">Проектировани</a></div>
        <div class="nav__link"><a href="#">Ресторанам</a></div>
        <div class="nav__link"><a href="#">Застройщикам</a></div>
        <div class="nav__link"><a href="#">Гос.заказчикам</a></div>
        <div class="nav__link"><a href="#">Таблет-питание</a></div>
        <div class="nav__link"><a href="#">Сервис</a></div>
        <div class="nav__link"><a href="#">Контакты</a></div>

        <div class="nav__link">
          <img src="../img/email.svg" alt="email" />
          <a href="mailto: info@stolovay.ru" id="tel">info@stolovay.ru</a>
        </div>
      </nav>

      <div id="callback-form" class="callback">
        <div class="callback__wrap">
          <div class="callback__secondary">
            <div class="callback__secondary__tel">8 800 333-88-31</div>
            <div class="callback__secondary__text">
              Мы принимаем звонки без выходных.
            </div>
          </div>

          <div class="callback__form">
            <div class="form__title">Обратный звонок</div>
            <div class="form__subtitle">Мы перезвоним вам в течении часа</div>
            <form action="/">
              <div class="form__item">
                <label for="name">Имя</label>
                <input type="text" name="tel" id="name" />
              </div>

              <div class="form__item">
                <label for="telef">Телефон</label>
                <input type="text" name="tel" id="telef" />
              </div>

              <button class="form__btn">Отправить</button>
            </form>
          </div>
        </div>
      </div>

      <div class="mobile-search">
        <img src="../img/search-mobile.svg" alt="#">
      </div>

      <div id="callback-btn" class="nav__tel">
        <img src="../img/tel-mobile.svg" alt="tel" />
        <a href="#"> 8 495 790-72-05</a>
      </div>

      <div id="cart-mobile" class="cart mobile">
        <div class="cart__img mobile">
          <span>12</span>
          <img src="../img/cart-mobile.svg" alt="#" />
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
