<article class="news">
    <div class="container-second">
        <h1 class="news__title">Новости производителей</h1>
        <div class="news__wrap">
            <div class="main-news">
                <img class="news-img  main-img" src="../img/news/main.jpg" alt="news" ></img>

                <div class="news-time">
                    <span>Abat</span> <time>22.06.17</time>
                </div>

                <h3 class="news-title"> <a href="#">Новый разборный ротационный пекарский шкаф РПШ-18-8-6МР</a> 
                    </h3>

                    <div class="news-text">
                        <p>Новый разборный ротационный пекарский шкаф РПШ-18-8-6МР:  в комплекте тележка-шпилька ТШГ-18 на 18 уровней 600х800 мм вместимость тележки-шпильки - 135 хлебных форм №7
                        инжекционный тип парообразования
                        разборная конструкция увеличенное стекло двери. 
                        Память на 110 программ (до 4-ех этапов в каждой программе)
                        USB-порт. Таймер до 10 ч 
                        Регулировка влажности от 0 до 100%.  5 скоро
                        </p>
                    </div>

            </div>
            <div class="secondary-news">
                <div class="secondary-news__item">
                    <img class="news-img" src="../img/news/1.jpg" alt="news" ></img>
                    <div class="news-content">
                    <div class="news-time">
                        <span>Abat</span> <time>22.06.17</time>
                    </div>

                    <h3 class="news-title"> <a href="#">Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat
                    </a> 
                        </h3>

                        <div class="news-text">
                            <p>С целью снижения нагрузки на электрическую сеть и для повышения энергоэффективности изделий с 1 июня 2017 года был изменен алгоритм работы туннельных посудомоечных машин МПТ торговой марки Abat всех моделей... 
                            </p>
                        </div>
                    </div>
                </div>

                <div class="secondary-news__item">
                    <img class="news-img" src="../img/news/2.jpg" alt="news" ></img>
                    <div class="news-content">
                    <div class="news-time">
                        <span>Abat</span> <time>22.06.17</time>
                    </div>
    
                    <h3 class="news-title"> <a href="#">Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat</a> 
    
                        </h3>
    
                        <div class="news-text">
                            <p>С целью снижения нагрузки на электрическую сеть и для повышения энергоэффективности изделий с 1 июня 2017 года был изменен алгоритм работы
                            </p>
                        </div>

                    </div>
                    </div>

                    <div class="secondary-news__item">
                        <img class="news-img" src="../img/news/1.jpg" alt="news" ></img>
                        <div class="news-content">
                        <div class="news-time">
                            <span>Abat</span> <time>22.06.17</time>
                        </div>
        
                        <h3 class="news-title"> <a href="#">Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat</a> 
        
                            </h3>
        
                            <div class="news-text">
                                <p>С целью снижения нагрузки на электрическую сеть и для повышения энергоэффективности изделий с 1 июня 2017 года был изменен алгоритм работы туннельных посудомоечных машин МПТ торговой марки Abat всех моделей... 
                                </p>
                            </div>

                        </div>
                        </div>
            </div>
        </div>

        <div class="news__btn">
            <a  href="#">Все новости</a>
        </div>
</div>
</article>
