<div class="product-bar">
  <div class="container-first">

    <a href="#" class="product-bar__mobile">
      <div class="product-bar__mobile__ttitle">Оборудование</div>
      <span>></span>
    </a>

    <div class="product-bar__wrap">
      <div class="product__item">
        <img class="product__img" src="../img/product-bar/1.png" alt="img" />
        <div class="product__text">Тепловое</div>
      </div>

      <div class="product__item">
        <img class="product__img" src="../img/product-bar/2.png" alt="" />
        <div class="product__text">Холодильное</div>
      </div>

      <div class="product__item">
        <img class="product__img" src="../img/product-bar/3.png" alt="" />
        <div class="product__text">Электромеханическое</div>
      </div>

      <div class="product__item">
        <img class="product__img" src="../img/product-bar/4.png" alt="" />
        <div class="product__text">Посудомоечное</div>
      </div>

      <div class="product__item">
        <img class="product__img" src="../img/product-bar/5.png" alt="" />
        <div class="product__text">Хлебопекарное</div>
      </div>

      <div class="product__item">
        <img class="product__img" src="../img/product-bar/6.png" alt="" />
        <div class="product__text">Линии раздачи</div>
      </div>

      <div class="product__item">
        <img class="product__img" src="../img/product-bar/7.png" alt="" />
        <div class="product__text">Нейтральное</div>
      </div>

      <div class="product__item">
        <img class="product__img" src="../img/product-bar/8.png" alt="" />
        <div class="product__text">Для фаст фуда</div>
      </div>

      <div class="product__item">
        <img class="product__img" src="../img/product-bar/9.png" alt="" />
        <div class="product__text">Для залов</div>
      </div>

      <div class="product__item">
        <img class="product__img" src="../img/product-bar/10.png" alt="" />
        <div class="product__text">Вспомогательное</div>
      </div>

      <div class="product__item">
        <img class="product__img" src="../img/product-bar/11.png" alt="" />
        <div class="product__text">Для магазинов</div>
      </div>
    </div>
  </div>
</div>
