<section class="recomm">
  <div class="container-second">
    <div class="recomm__header">
      <h1 class="recomm__title">Рекомендуем</h1>
      <div class="recomm__subtitle">
        В этих разделах вы можете получить подробную информацию о пищевом
        оборудовании для столовых, ресторанов и кафе ведущих производителей.
      </div>
    </div>

    <div class="recomm__wrap">
      <div class="recomm__main">
        <div class="recomm__item main">
          <h3 class="recomm__item__suptitle">RATIONAL</h3>
          <h2 class="recomm__item__title">
            <a href="#">Пароконвектоматы</a>
          </h2>
          <div class="recomm__item__subtitle main">
            Педантичность и преданность своему делу делает продукцию Rational
            идеальной для тех, кто ищет надежность и долговечность.
          </div>

          <img
            class="recomm__item__img main"
            src="../img/recommendation/1.png"
            alt="#"
          />
        </div>
      </div>
      <div class="recomm__secondary">
        <div class="recomm__item top">
          <div class="recomm__item__inner">
            <h3 class="recomm__item__suptitle top secondary">ABAT</h3>
            <h2 class="recomm__item__title top secondary">
              <a href="#">Тепловое оборудование</a>
            </h2>
            <div class="recomm__item__subtitle">
              Более 55 лет успешно работает на рынке торгово-технологического
              оборудования, по праву занимая лидирующее положение в данном
              сегменте.
            </div>
          </div>
          <img
            class="recomm__item__img top"
            src="../img/recommendation/2.png"
            alt="#"
          />
        </div>

        <div class="recomm__item bottom">
          <div class="recomm__item__inner bottom">
            <h3 class="recomm__item__suptitle secondary">HICOLD</h3>
            <h2 class="recomm__item__title secondary">
              <a href="#">Холодильные столы</a>
            </h2>
            <div class="recomm__item__subtitle">
              Многофункциональность оборудования позволяет оптимизировать
              пространство на кухне, сделать работу персонала максимально
              удобной и эффективной.
            </div>

            <img
              class="recomm__item__img bottom"
              src="../img/recommendation/3.png"
              alt="#"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
