<div class="search-bar">

    <div class="container-first">
      <div class="search-bar__wrap">

      
        
        <div class="search-bar__logo">
          <a href="#">
            <img src="../img/search-bar/logo.png" alt="logo" />
          </a>
          <p class="search-bar__logo__text">
            Столовая.
            <span>РУ</span>
          </p>
        </div>

        <div class="search-panel">
          <form class="search-panel__wrap">
            <select class="search-panel__select" name="all" id="search-panel">
              <option value="all" selected>Все</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>

            <input class="search-panel__search" type="text" />
            <button class="search-panel__btn">
              <img src="../img/search-bar/search.svg" alt="search" />
            </button>
          </а>
        </div>

        <div class="portal">
          <div class="portal__wrap">
            <a class="portal__img" href="">
              <img src="../img/search-bar/portalpostavschikov.png" alt="#"
            /></a>
            <a class="portal__text" href="#"> Мы на портале поставщиков </a>
          </div>
        </div>

        <div class="cart">
          <div class="cart__img">
            <span>12</span>
            <img src="../img/search-bar/online-shopping-cart.png" alt="#" />
          </div>
          <div class="cart__sum">
            <div class="cart__sum__wrap">
              <div class="cart__sum__text">Сумма</div>
              <span>150 000 руб.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

